/* CSS style for Card Component */

/* card container */
.card-container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: relative;
    background-color: white;
    border: solid 2px black;
}
.card-container .card   .suit {
    content: "\u2660";
}

.card-container  .card .black{
    color:black;
}

.card-container .card  .red{
    color:red;
}

.card-container .card .top {
    position:absolute;
    left:0;
    top:0;
    padding:2%;
}

.card-container .card .bottom {
    position:absolute;
    right:0;
    bottom:0;
    padding:2%;
}

.card-container .card .center {
    position:absolute;
    left: 5vh;
    top: 6.268vh;
    width:1vh;
    transform:scale(1.5,1.5);
}
 /* set the card back */
 .card-container .back {
    background-color: red;
}

/** All we need for flipping the card */
/* entire container, keeps perspective */
.card-container {
    perspective: 300px;
}

/* flip the pane when hovered */
.card-container .show  {
    transform: rotateY(180deg);
}

.card-container, .front, .back {
    width: 12vh;
    height: 15vh;
}

/* flip speed goes here */
 .card-container .flipper {
    transition: .2s;
    transform-style: preserve-3d;
    position: relative;

}

/* hide back of pane during swap */
 .card-container .front, .card-container .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

}

/* front pane, placed above back */
 .card-container .front {
    z-index:2;
    transform: rotateY(180deg);
}

/* back, initially hidden pane */
 .card-container .back {
    transform: rotateY(0deg);
}
